/* Styles for login page */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h1 {
  background: -webkit-linear-gradient(right, #9252a0, #d8479a, #ef3f6d, #f36523);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 2rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box-input {
  width: 100%;
}

.login-button {
  width: 75%;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  background: -webkit-linear-gradient(right, #6963ab, #8157a3, #8853a1, #9451a0, #a64f9e);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
}

.login-button:hover {
  background: -webkit-linear-gradient(left, #6963ab, #8157a3, #8853a1, #9451a0, #a64f9e);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
}
