

.match-start-over-button {
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
  background: -webkit-linear-gradient(right, #6963ab,#8157a3, #8853a1, #9451a0, #a64f9e);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
  border: none;
}

.match-start-over-button:hover  {
  background: -webkit-linear-gradient(left, #6963ab,#8157a3, #8853a1, #9451a0, #a64f9e);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
}