.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: #161515;
}


.navbar-logo img {
  width: 8em;
  height: 8em;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.navbar-links button {
  margin-left: 20px;
  color: #6a62ab;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: -webkit-linear-gradient(right, #6963ab, #9252a0,#d8479a, #ef3f6d, #f05538, #f36523);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.navbar-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1rem;
}

/* Dark mode styles */
.dark-mode {
  background-color: #3f3e3e; /* Dark background color for the NavBar */
  color: #fff; /* Text color in dark mode */
}

.dark-mode .navbar-links a,
.dark-mode .navbar-links button {
  color: #fff; /* Text color for links and buttons in dark mode */
  background: none; /* Remove gradient text color */
}

.dark-mode .navbar-profile-photo {
  border: 2px solid #fff; /* Optional: Add border for better visibility */
}
