.signup {
  position: relative;
  display: grid;
  align-items: center;
}

.signup h1 {
  background: -webkit-linear-gradient(right, #9252a0,#d8479a, #ef3f6d, #f36523);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.signup-form {
  position: relative;
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.signup-box {
 display: flex;
 flex-direction: column;
}

.signup-content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}

.signup-box {
  align-items: center;  
  column-gap: .75rem;
  padding: 1rem;
  row-gap: .5rem;
}

.signup-box-input {
  position: relative;
}

.signup-button {
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  background: -webkit-linear-gradient(right, #6963ab,#8157a3, #8853a1, #9451a0, #a64f9e);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
}
.signup-button:hover {
  background: -webkit-linear-gradient(left, #6963ab,#8157a3, #8853a1, #9451a0, #a64f9e);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
}


/* Dark mode styles */
.darkmode {
  background-color: #232323; /* Dark background color */
  color: #fff; /* Default text color in dark mode */
}

/* Apply dark mode to form elements */
.darkmode .signup-form {
  background-color: #393939; /* Example dark background for forms */
  color: #fff; /* Text color in dark mode */
}

.darkmode .signup-form input,
.darkmode .signup-form label {
  color: #fff; /* Default text color for input and label elements */
}

/* Default state for inputs */
.darkmode .signup-form input {
  border: none; /* Remove default border */
  border-bottom: 2px solid #fff; /* White underline by default */
  color: #fff; /* Text color inside the input */
  background-color: transparent; /* Transparent background */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Focus state for input containers and input elements */
.darkmode .signup-box-input:focus-within {
  color: #8a2be2; /* Purple color for the label when input is focused */
}

/* Focus state for inputs */
.darkmode .signup-form input:focus {
  outline: none; /* Remove default outline */
  border-bottom: 2px solid #8a2be2; /* Purple underline on focus */
}

/* Focus state for labels */
.darkmode .signup-box-input:focus-within label {
  color: #8a2be2; /* Purple color for the focused label */
}
