.user-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid lightgrey;
  border-radius: 1rem;
  margin: auto auto 5rem auto;
  max-width: 600px;
  gap: 0.5rem;
}

.user-card-name {
  background: -webkit-linear-gradient(right, #9252a0, #d8479a, #ef3f6d, #f36523);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.user-name {
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  align-items: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: fit-content
}

.user-card-profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.user-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card-button {
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
  background: -webkit-linear-gradient(right, #ef3f6d, #ee3d74, #ee4854, #f04e49, #f1582c);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
  border: none;
}

.user-card-button:hover {
  background: -webkit-linear-gradient(left, #ef3f6d, #ee3d74, #ee4854, #f04e49, #f1582c);
  -webkit-background-clip: button;
  -webkit-text-fill-color: white;
}

/* Dark mode styles */
.darkmode .user-card-profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.user-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid lightgrey;
  border-radius: 1rem;
  margin: auto auto 5rem auto;
  max-width: 600px;
  gap: 0.5rem;
  background-color: #393939; 
}