.user-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: hsla(30, 10%, 10%, 0.1);
  border: 2px solid lightgrey;
  border-radius: 1rem;
  margin: auto;
  max-width: 600px;
}

.user-name {
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: fit-content
}

.user-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.user-card-button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid lightgrey;
  background-color: white;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.user-card-button:hover {
  background-color: #f0f0f0;
  color: #000;
}